

#pics{

	text-align: center;
	width: 100%;
}

body{
	background-image: url('../images/sun-pattern.png');
}

.half-page-image {
	padding: 5%;
	text-align: center;
	border: 5px solid blue;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 49%;
}